.imgBg {
  width: 98%;
  max-height: 250px;
  object-fit: cover;
  transform: translate(2%, 0);
  padding-bottom: 2%;
  border-radius: 24px;
}
.imgCollab {
  height: 40%;
  width: 60%;
  position: absolute;
  object-fit: cover;
  border-radius: 24px;
  transform: translate(0%, 33%);
}
