.imgBg {
  width: 98%;
  max-height: 250px;
  transform: translate(2%, 0);
  padding-bottom: 2%;
  border-radius: 24px;
}
.imgCollab {
  height: 40%;
  width: 60%;
  position: absolute;
  border-radius: 24px;
  transform: translate(0%, 33%);
}
.resImg {
  border-radius: 24px;
  max-height: 300px;
  max-width: 330px;
}
.catImg {
  border-radius: 24px;
  max-height: 150px;
  max-width: 200px;
}
img {
  object-fit: cover;
}
