{% if user.role == "member" %}
<div class="row justify-content-center mt-4">
    <div class="col-xl-8">
        <div class="card p-3  border border-3" style="">
            <p class="fs-5"><img src="{{request.user.getProfilePic}}" class="me-2" style="height:30px ;">
                {{request.user.fullName}}
            </p>
            <form action="{% url 'createReview' restaurant.resID %}" method="POST">
                {% csrf_token %}
                <div class="input-group ">
                    <input type="text" name="resID" hidden value="{{restaurant.resID}}">
                    <input type="text" name="memberID" hidden value="{{request.user.memberID}}">
                    <input type="text" name="detail" class="form-control rounded" style="height: 100px;"
                        placeholder="Enter your review" aria-label="Enter your review" aria-describedby="basic-addon2">
                </div>
                <div class="input-group  d-flex justify-content-between mt-2">
                    <div class="rating">
                        <label>
                            <input type="radio" name="rating" value="1" />
                            <i class="icon fas fa-star "></i>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="2" />
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="3" />
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="4" />
                            <i class="icon  fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                        </label>
                        <label>
                            <input type="radio" name="rating" value="5" />
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                            <i class="icon fas fa-star "></i>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-info rounded col-md-2 text-white">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}