{% load static %}
{% block content %}

<table class="table table-md" id="test">
	<thead>
		<tr class="text-center">
			<th scope="col">Queue</th>
			<th scope="col">Date Created</th>
			<th scope="col">Reserved Time</th>
			<th scope="col">Status</th>
			<th scope="col">Update</th>
		</tr>
	</thead>
	<tbody id="queueTable">
		{% for queues_res in  restaurant.queue_set.all %}
		{% if queues_res.status == "calling" %}
		<tr class="text-center align-middle">
			<td>{{queues_res.queueID}}</td>
			<td>{{queues_res.queueCreated}}</td>
			<td class="text-danger">{{queues_res.reserveDateTime}}</td>
			<form action="{% url 'editRole' queues_res.queueID %}" method="post" class="d-flex ">
				{% csrf_token %}
				<td>
					<select class="form-select d-inline me-2" style="width: 150px;" name=role>
						<option selected hidden>{{queues_res.status}}</option>
						<option value="success">success</option>
						<option value="calling">calling</option>
						<option value="waiting">waiting</option>
						<option value="fail">fail</option>
					</select>
				</td>
				<td>
					<button class="btn btn-primary d-blcok" type="submit">Update</button>
				</td>
			</form>
		</tr>
		{% endif %}
		{% endfor %}

		{% for queues_res in  restaurant.queue_set.all %}
		{% if queues_res.status == "waiting" %}
		<tr class="text-center align-middle">
			<td>{{queues_res.queueID}}</td>
			<td>{{queues_res.queueCreated}}</td>
			<td class="text-danger">{{queues_res.reserveDateTime}}</td>
			<form action="{% url 'editRole' queues_res.queueID %}" method="post" class="d-flex ">
				{% csrf_token %}
				<td>
					<select class="form-select d-inline me-2" style="width: 150px;" name=role>
						<option selected hidden>{{queues_res.status}}</option>
						<option value="success">success</option>
						<option value="calling">calling</option>
						<option value="waiting">waiting</option>
						<option value="fail">fail</option>
					</select>
				</td>
				<td>
					<button class="btn btn-primary d-blcok" type="submit">Update</button>
				</td>
			</form>
		</tr>
		{% endif %}
		{% endfor %}
	</tbody>
</table>
{% include 'queue/updateQueueModal.html' %}
{% endblock content %}