{% load static %}
{% block content %} 

	<table class="table table-md" id="test">
		<thead>
			<tr class="text-center">
				<th scope="col">Queue</th>
				<th scope="col">Date Created</th>
				<th scope="col">Reserved Time</th>
				<th scope="col">Status</th>
				<th scope="col">Update</th>
				<th scope="col">Remove</th>
			</tr>
		</thead>
		<tbody id="queueTable">
			{% for queues in  restaurant.queue_set.all %}
			{% if queues.status == "calling" %}
				<tr class="text-center align-middle">
					<td>{{queues.queueID}}</td>
					<td>{{queues.queueCreated}}</td>
					<td class="text-danger">{{queues.reserveDateTime}}</td>
					<td>
						<h5 class="card bg-warning text-danger my-0 py-1"> {{queues.status}} </h5>
					</td>
					<td><a class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#updateQueueModal">Update</a></td>
					<td><a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#" >Delete</a></td>
				</tr>
			{% endif %}
				
				
			{% endfor %}

			{% for queues in  restaurant.queue_set.all %}
			{% if queues.status == "waiting" %}
			<tr class="text-center align-middle">
				<td>{{queues.queueID}}</td>
				<td>{{queues.queueCreated}}</td>
				<td class="text-danger">{{queues.reserveDateTime}}</td>
				<td>
					<h5 class="card bg-primary text-white my-0 py-1"> {{queues.status}} </h5>
				</td>
				<td><a class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#updateQueueModal">Update</a></td>
				<td><a class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#" >Delete</a></td>
			</tr>
			{% endif %}
			{% endfor %}
		</tbody>
	</table>
 {% include 'queue/updateQueueModal.html' %}
 {% endblock content %} 