[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
pillow = "*"
sweetify = "*"
django-imagekit = "*"
chartjs = "*"

[dev-packages]

[requires]
python_version = "3.9"
