 {% load static %}
 <!-- Modal -->
 <div class="modal fade" id="edit-company" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
         <div class="modal-content">
             <div class="modal-header border-0 align-self-start">
                 <h5 class="modal-title" id="exampleModalLabel"></h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <h1>Edit Profile</h1>
                 <div class="card p-3 rounded-3 border border-3 " style="">
                     <form class="mt-3 ms-2" method="POST" action="{% url 'profile' company.companyID %}"
                         enctype="multipart/form-data">
                         {% csrf_token %}
                         <input type="text" class="form-control" id="name" name="companyID" hidden
                             value="{{company.companyID}}">
                         <div class="form-row d-flex pb-2">
                             <div class="col-md-6" style="padding-right : 20px">
                                 <label>company Name</label>
                                 <input type="text" class="form-control" placeholder="{{company.companyName}} "
                                     value="{{company.companyName}}" name="companyName">
                             </div>
                             <div class="col-md-6">
                                 <label>Address</label>
                                 <input type="text" class="form-control" placeholder="{{company.address}}"
                                     value="{{company.address}}" name="address">
                             </div>
                         </div>
                         <div class="form-row d-flex pb-2">
                             <div class="col-md-6" style="padding-right : 20px">
                                 <label>subDistrict</label>
                                 <input type="text" class="form-control" placeholder="{{company.subDistrict}}"
                                     value="{{company.subDistrict}}" name="subDistrict">
                             </div>
                             <div class="col-md-6">
                                 <label>District</label>
                                 <input type="text" class="form-control" placeholder="{{company.district}}"
                                     value="{{company.district}}" name="district">
                             </div>
                         </div>
                         <div class="form-row d-flex pb-2">
                             <div class="col-md-6" style="padding-right : 20px">
                                 <label>Province</label>
                                 <input type="text" class="form-control" placeholder="{{company.province}}"
                                     value="{{company.province}}" name="province">
                             </div>
                             <div class="col-md-6">
                                 <label>Postal Code</label>
                                 <input type="text" class="form-control" placeholder="{{company.postalCode}}"
                                     value="{{company.postalCode}}" name="postalCode">
                             </div>
                         </div>
                         <div class="form-row d-flex pb-2">

                             <div class="col-md-6">
                                 <label>Email</label>
                                 <input type="email" class="form-control" placeholder="{{company.email}}"
                                     value="{{company.email}}" name="email">
                                 </select>
                             </div>

                             <div class="col-md-6">
                                 <label>Tel.</label>
                                 <input type="tel" class="form-control" placeholder="{{company.tel}}"
                                     value="{{company.tel}}" name="tel" pattern="^0[0-9]{9}">
                             </div>
                         </div>
                         <div class="form-row d-flex pb-2 ">
                             <div class="col-md-6">
                                 <label>Logo Profile</label>
                                 <input class="form-control" type="file" name="profilePic" id="formFile">
                             </div>
                         </div>
                         <div class="d-flex justify-content-end">
                             <input type="submit" value="Submit" class="btn btn-primary">
                         </div>
                     </form>
                 </div>
             </div>

         </div>
     </div>
 </div>