 {% extends 'components/base.html' %}
 {% load static %}
 {% block content %}
 <div class="row mt-5">
     <div class="d-flex">
         <h2>Branch</h2>
         {% comment %} <a href="{%url 'manageStaff' pk %}" class="btn btn-primary" style="margin-left : 77%">Member</a>
         <a href="{%url 'menu' pk %}" class="btn btn-secondary ms-2">Menu edit</a> {% endcomment %}
     </div>
     <input class="form-control mt-4 mb-3" id="Search" type="text" placeholder="Search..">
     <br>
     <div class="mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
         <table class="table border border-3">
             <thead>
                 <tr>
                     <th scope="col">#</th>
                     <th scope="col">Restaurant</th>
                     <th scope="col">Address</th>
                     <th scope="col"></th>
                 </tr>
             </thead>
             <tbody id="Table">
                 {% for restaurant in restaurants %}
                 <tr>
                     <th scope="row">1</th>
                     <td>
                         <a href="{% url 'profile' restaurant.resID %}" class="text-decoration-none text-reset">
                             {{restaurant.resName}}
                         </a>
                     </td>
                     <td>{{restaurant.fullAddress}}</td>
                     <td><a class="btn btn-sm btn-warning" data-bs-toggle="modal"
                             data-bs-target="#editRole{{staff.memberID}}">Edit</a>
                         <a class="btn btn-sm btn-danger" data-bs-toggle="modal"
                             data-bs-target="#removeStaff{{staff.memberID}}">Delete</a>
                     </td>
                 </tr>
                 {% endfor %}
             </tbody>
         </table>
     </div>
 </div>
 {% endblock content %}