{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <div class="row border mb-3">
        <h2 class="mt-3">Member Lists</h2>
        <div class="input-group rounded-lg mt-2 mb-2">
            <input class="form-control rounded   m-3" id="Search" type="text" placeholder="Search.."
                style="width : 50%">
            <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
            </span>
        </div>
    </div>

    <div class="row border mb-3">
        <h2 class="mt-3">Invite</h2>
        <div class="col-md-6">
            <form action="{% url 'inviteStaff' pk %}" method="post">
                {% csrf_token %}
                <input class="form-control m-3" id="myInput" type="text" name="resID" hidden
                    value="{{pk}}">
                <input class="form-control m-3" id="myInput" type="email" name="email">
        </div>
        <div class="col-md-6">
            <input class="btn btn-primary mt-3 ms-2" type="submit" value="invite">
        </div>
        </form>
    </div>

    <div class="mb-5" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Change role</th>
                    <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody id="Table">
                {% for staff in staffs %}
                <tr>
                    <th scope="row">{{staff.memberID}}</th>
                    <td>
                        <a href="{% url 'profile' staff.memberID %}">{{staff.fullName}} </a>
                    </td>
                    <td>{{staff.role}}</td>
                    <td style="width: 300px;">
                        <form action="{% url 'editRole' staff.resID %}" method="post" class="d-flex ">
                            {% csrf_token %}
                            <input type="text" name="memberID" value="{{staff.memberID}}" hidden>
                            <select class="form-select d-inline me-2" style="width: 150px;" name=role>
                                <option selected hidden>{{staff.role}}</option>
                                <option value="manager">manager</option>
                                <option value="staff">staff</option>
                            </select>
                            <button class="btn btn-warning d-blcok" type="submit">Change</button>
                        </form>
                    </td>
                    <td>
                        <a class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#removeStaff{{staff.memberID}}">Delete</a>
                    </td>
                </tr>
                {% endfor %}


            </tbody>
        </table>
    </div>

</div>
{% include 'restaurants/editRoleModal.html' %}
{% include 'restaurants/removeStaffModal.html' %}
{% endblock content %}