{% for staff in staffs %}
<!-- Modal -->
<div class="modal fade" id="removeStaff{{staff.memberID}}" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content ">
            <div class="modal-header pb-0 border-0 align-self-center">
                <h5 class="modal-title" id="exampleModalLabe3">Delete Confirmation</h5>
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to remove {{staff.fullName}}?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>
                <form action="{% url 'removeStaff' pk %}" method="POST">
                    {% csrf_token %}
                    <input type="text" class="form-control" id="name" name="memberID" hidden value="{{staff.memberID}}">
                    <input type="text" class="form-control" id="name" name="resID" hidden value="">
                    <input type="text" class="form-control" id="name" name="role" hidden value="staff">
                    <button type="submit" class="btn btn-danger">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}