{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="row justify-content-center mt-4">
  <div class="col-xl-8">
    <div class="card p-3" style="">
      <img src="{{restaurant.getCoverPic}}" class="imgBg img-cover" alt="Responsive image" />
      <img src="{{restaurant.getProfilePic}}" class="imgCollab img-cover" alt="Responsive image" />
      <div class="row">
        <div class="col-6">
          <div class="card-body">
            <h2 class="card-title">{{restaurant.resName}}</h2>
            <p class="card-text">{{restaurant.categoryID.categoryName}}</p>
            <p class="card-text">
              <i class="fas fa-star text-warning"></i>
              <span>{{rating.rating__avg}}</span>
              <i class="far fa-clock text-secondary"></i>
              <span> 15 min</span>
              <i class="fas fa-map-marker-alt text-secondary"></i>
              <span> 2 km</span>
            </p>
            <p class="card-text">Openning Hours: {{restaurant.open}} - {{restaurant.close}}</p>
          </div>
        </div>
        <div class="col-6 align-self-end">
          <div class="text-end card-body">
            <p class="card-text">
              <i class="fas fa-users"></i>
              <span class="">15 Queue</span>
            </p>
            <p class="card-text">
              <i class="fas fa-hourglass-start"></i>
              <span class="card-text">8 Mins.</span>
            </p>
            <p class="card-text">
              <a href="{% url 'menu' restaurant.resID %}">
                <button type="button" class="btn btn-primary btn-sm">
                  รายการอาหาร
                </button>
              </a>

              {% if user.role == "member" %}
              <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal"
                data-bs-target="#createNowQueue">
                จองคิว
              </button>
              {% endif %}

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'restaurants/map.html' %}
{% include 'queue/showReview.html'  %}
{% include 'queue/review.html'  %}
{% include 'restaurants/indexResCard.html' %}
{% endblock content %}