{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="row border border-3 mt-5 pt-3">
    <div class="col-4 mt-4">
        <div class="row-md-4">
            <div class="card ms-5 mb-0" style="max-width : 65%; max-height : 50%">
                <img src="{% static 'images/oishi-logo.jpg' %}" class="card-img-top" alt="...">
                <div class="d-grid">
                    <label for="files" class="btn btn-primary rounded-0">Change Photo</label>
                    <!--มีเฉพาะ Manager, Executive-->
                    <input id="files" style="visibility:hidden; height:0" type="file">
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-9 mt-4">
                <div class="profile-head">
                    <h5>
                        Shabushi
                    </h5>
                    <h6>
                        Ton land
                    </h6>
                    <p class="proile-rating"> Rating : <span>8.3/10</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="branch-tab" data-bs-toggle="tab" data-bs-target="#branch"
                                href="#branch" role="tab" aria-controls="branch" aria-selected="false">Branch</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3 mt-4">
                <input type="submit" class="profile-edit-btn" data-bs-toggle="modal" data-bs-target="#edit-company"
                    name="btnAddMore" value="Edit Company" />
            </div>
        </div>
        <div class="row">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active pb-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Owner</label>
                        </div>
                        <div class="col-md-6">
                            <a href="{% url 'executiveProfile' restaurant.resID%}">
                                <p>Ton Ichitan</p>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Restaurant Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>Shabushi</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Address</label>
                        </div>
                        <div class="col-md-6">
                            <p>882 Bangmod Thungkhru Bangkok</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Postal Code</label>
                        </div>
                        <div class="col-md-6">
                            <p>10140</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>shabushi@hotmail.com</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Tel.</label>
                        </div>
                        <div class="col-md-6">
                            <p>02-0000000</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Category</label>
                        </div>
                        <div class="col-md-6">
                            <p>Buffet</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>123 456 7890</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade pb-5" id="branch" role="tabpanel" aria-labelledby="branch-tab">
                    <div class="history-container mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 325px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Restaurant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>
                                        <a href="{% url 'resProfile' restaurant.resID%} ">
                                            <p>Shabushi</p>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Oishi Ramen</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Nikuya</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'app/modalStartBusiness.html' %}
{% include 'restaurants/editCompModal.html' %}
{% endblock content %}