{% load static %}

<style>
    .navbar-YENYEN {
        background-color: #494D5F;
    }

    .navbar-brand {
        font-size: 34px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark navbar-YENYEN " style="height:113px">
    <div class="navbar-inner container-fluid">
        <div class="d-flex justify-content-start d-flex align-items-center col-4">
            <a class="navbar-brand" style="margin: 0px 15px" href="/">YENYEN</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {% if user.role !=  "staff" and user.role !=  "manager" and user.role !=  "executive"%}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" style="margin: 0px 15px; font-size: 18px" href="#"
                        id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Restaurant
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Italian cuisine</a></li>
                        <li><a class="dropdown-item" href="#">Thai cuisine</a></li>
                        <li><a class="dropdown-item" href="#">Chinese cuisine</a></li>
                    </ul>
                </li>
            </ul>
            {% elif user.role ==  "staff" or user.role ==  "manager" %}
            <button type="button" class="btn btn-lg text-white h3" style="margin:0px 15px;background-color:#D0BDF4;"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
                aria-controls="offcanvasWithBackdrop">Restaurant</button>

            {% elif user.role ==  "executive" %}
            <button type="button" class="btn btn-lg text-white h3" style="margin:0px 15px;background-color:#D0BDF4;"
                data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBackdrop"
                aria-controls="offcanvasWithBackdrop">Company</button>



            {% endif %}
        </div>
    </div>

    {% if request.user.is_authenticated and user.role != "admin"  %}
    <div class="nav-item col-4 d-flex justify-content-center">
        <div class="card col-9">
            <div class="card-body" style="padding: 16px 25px">
                <table class="col-12 justify-content-between">
                    {% if user.role ==  'member' %}
                    <tr>
                        <td>
                            <h5 class="card-title d-flex justify-content-start">Queue Number : </h5>
                        </td>
                        <td>
                            <h5 class="card-title d-flex justify-content-center">None</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-start">Status :</h6>
                        </td>
                        <td>
                            <h5 class="card-subtitle mb-2 text-muted d-flex justify-content-center"> No queue</h5>
                        </td>
                    </tr>
                    {% elif user.role ==  "staff" or user.role ==  "manager" or user.role ==  "executive" %}
                    <tr>
                        <td>
                            <h5 class="card-title d-flex justify-content-start">Company : </h5>
                        </td>
                        <td>
                            <h5 class="card-title d-flex justify-content-center">None</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h6 class="card-subtitle mb-2 text-muted d-flex justify-content-start">Restaurant :</h6>
                        </td>
                        <td>
                            <h5 class="card-subtitle mb-2 text-muted d-flex justify-content-center"> None</h5>
                        </td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    {% endif %}

    {% if request.user.is_authenticated %}
    <!--login แล้ว-->
    <table class="col-4 d-flex justify-content-end">
        <tr>
            <td class="me-4 text-center text-white h5 pe-4">Welcome, {{request.user.fName}}</td>
            <td>

                {% if request.user.role == "member" %}
                <a href="{%url 'profile' request.user.memberID %}">
                    <img src="{{ request.user.getProfilePic }}" class="img-cover border border-white rounded-3"
                        style="height: 60px; width: 60px;">
                </a>
                {% elif request.user.role == "staff" %}
                <a href="{%url 'profile' request.user.memberID %}">
                    <img src="{{ request.user.getProfilePic }}" class="img-cover border border-white rounded-3"
                        style="height: 60px; width: 60px;">
                </a>
                {% elif request.user.role == "manager" %}
                <a href="{%url 'profile' request.user.memberID %}">
                    <img src="{{ request.user.getProfilePic }}" class="img-cover border border-white rounded-3"
                        style="height: 60px; width: 60px;">
                </a>
                {% elif request.user.role == "executive" %}
                <a href="{%url 'profile' request.user.memberID %}">
                    <img src="{{ request.user.getProfilePic }}" class="img-cover border border-white rounded-3"
                        style="height: 60px; width: 60px;">
                </a>
                {% elif request.user.role == "admin" %}
                <a href="{%url 'home' %}">
                    <img src="{{ request.user.getProfilePic }}" class="img-cover border border-white rounded-3"
                        style="height: 60px; width: 60px;">
                </a>
                {% endif %}

            </td>
            <td>
                <a href="{%url 'users_logout'%}">
                    <button type="button" class="btn btn-danger btn-lg"
                        style="background-color:#E91E63; margin: 0px 15px">Logout</button>
                </a>
            </td>
        </tr>
    </table>
    {% else %}
    <div class="col-4 d-flex justify-content-end">
        <a href="{%url 'users_signup'%}">
            <button type="button" class="btn btn-primary btn-lg" style="background-color:#D0BDF4; margin: 0px 15px">Sign
                up</button>
        </a>
        <a href="{%url 'users_login'%}">
            <button type="button" class="btn btn-outline-success btn-lg" style="margin: 0px 15px">Login</button>
        </a>
    </div>
    {% endif %}



    </div>
</nav>
{% include 'components/sidebar.html' %}