{% load static %}

{% if user.role ==  "manager" or user.role == "staff" %}
<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" tabindex="-1"
    id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">

    
    {% if  request.user.resID != None %}
        <div class="offcanvas-header">
        <a href="{% url 'profile' request.user.resID %}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{{ request.user.resID.getProfilePic }}" class="img-contain border border-white rounded-3"
                style="height: 60px; width: 60px;">
            <span class="fs-4 ms-3">{{request.user.resID.resName}}</span>
        </a>
        </div>
    {% endif %}
        
    
    <hr>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">

                {% if user.role == "manager" %}
                <a href="{%url 'managerHome' request.user.resID %}" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Customer log & Queue
                </a>
            </li>
            <li>
                <a href="{%url 'manageStaff' request.user.resID %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Manage member
                </a>
            </li>

            {% elif user.role == "staff"%}
            <li>
                <a href="{%url 'staffHome' request.user.resID %}" class="nav-link text-white" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Queue
                </a>
            </li>
            <li>
                <a href="{%url 'staffHome' request.user.resID  %}" class="nav-link text-white" aria-current="page"
                    data-bs-toggle="modal" data-bs-target="#business" href="#home">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Start my own
                </a>
            </li>
            
            <li>
                <a href="{%url 'menu' request.user.resID %}" class="nav-link text-white"> <!-- ลิงค์ไปที่ร้านตัวเอง -->
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"></use>
                    </svg>
                    Edit menu
                </a>
            </li>
            {% endif %}

            {% if  user.role == "manager" %}
            <li>
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Edit menu
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-5">
                        <li><a href="#" class="link-dark rounded text-white">Overview</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Weekly</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Monthly</a></li>
                        <li><a href="#" class="link-dark rounded text-white">Annually</a></li>
                    </ul>
                </div>
            </li>
            {% endif %}

        </ul>
    </div>
    <hr>

</div>
{% elif user.role ==  "executive" %}
<div class="offcanvas offcanvas-start d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" tabindex="-1"
    id="offcanvasWithBackdrop" aria-labelledby="offcanvasWithBackdropLabel">
    <div class="offcanvas-header text-white">
        <a href="{% url 'profile' request.user.companyID %}"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <img src="{{ request.user.companyID.getProfilePic }}" class="img border border-white rounded-3"
                style="height: 60px; width: 60px;">
            <span class="fs-4 ms-3 text-white">{{request.user.companyID.companyName}}</span>
        </a>
    </div>
    <hr>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{%url 'executiveHome' request.user.companyID %}" class="nav-link text-white"
                    aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"></use>
                    </svg>
                    Branch list
                </a>
            </li>
            <li>
                <a href="{%url 'manageStaff' request.user.companyID %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Manage member
                </a>
            </li>
            <li>
                <button class="btn btn-toggle align-items-center rounded collapsed text-white" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"></use>
                    </svg>
                    Edit menu
                </button>
                <div class="collapse" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small ms-5">
                        {% for restaurant in request.user.companyID.restaurant_set.all %}
                             <li><a href="{% url 'menu' restaurant.resID %}" class="link-dark rounded text-white">{{restaurant.resName}}</a></li>
                        {% endfor %}
                        
                        
                    </ul>
                </div>
            </li>
        </ul>
    </div>
    <hr>
</div>
{% endif %}



{% include 'restaurants/createBusModal.html' %}