{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="row border border-3 mt-5 pt-3">
    <div class="col-4 mt-4">
        <div class="row-md-4">
            <div class="card ms-5 mb-0" style="max-width : 65%; max-height : 50%;">
                <img src="{{profile.getProfilePic}}" class="card-img-top" alt="...">
                <div class="d-block">
                    <form action="changeProfile" method="POST" style="height: 38px">
                        <label for="files" class="btn btn-primary rounded-0 d-block">Change Photo</label>
                        <input name="id" hidden type="text" value="{{profile.memberID}}">
                        <input id="files" style="visibility:hidden; height:0;" alt="submit" type="file">
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <div class="profile-work">
                    <p>Special</p>
                    <a href="">Reward</a><br />
                    <a href="">Offer</a><br />
                </div>
            </div>
        </div>
    </div>
    <div class="col-8 ">
        <div class="row">
            <div class="col-9 mt-4">
                <div class="profile-head">
                    <h5>
                        {{profile.fullName}}
                    </h5>
                    <h6>
                        User, Gold member
                    </h6>

                    <p class="proile-rating"> Point : <span>97/100</span></p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                                href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                                href="#profile" role="tab" aria-controls="profile" aria-selected="false">History</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-3 mt-4">
                <input type="submit" class="profile-edit-btn" data-bs-toggle="modal" data-bs-target="#editprofile"
                    name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active pb-5" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row">
                        <div class="col-md-6">
                            <p>{{profile.memberID}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{profile.fullName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Date of birth</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{profile.dob}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Gender</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{profile.showGender}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{profile.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Phone</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{profile.fullPhone}}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade " id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="history-container mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 325px">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Restaurant</th>
                                    <th scope="col">Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if queue %}
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{queue.reserveTime}}</td>
                                    <td>{{queue.resID.resNameEN}}</td>
                                    {% if queue.queueIsSuccess == "S"  %}
                                    <td>+3</td>

                                    {% endif %}

                                </tr>
                                {% endif %}
                                <tr>
                                    <th scope="row">2</th>
                                    <td>13/05/2021</td>
                                    <td>Yayoi</td>
                                    <td>-10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>01/06/2021</td>
                                    <td>Free point</td>
                                    <td>+10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'users/editProfileModal.html' %}
{% endblock content %}