body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f0f0f3 !important;
  font-family: "Prompt", sans-serif;
}
.footer {
  height: 50px;
  background: #f0f0f3 !important;
  font-family: "Prompt", sans-serif;
}
.container {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  min-height: 100%;
  /* background: #ffffff !important; */
}
.card {
  border-radius: 18px !important;
}
.imgBg {
  width: 98% !important;
  max-height: 250px;
  transform: translate(2%, 0);
  padding-bottom: 2%;
  border-radius: 14px;
}
.imgCollab {
  height: 40%;
  width: 60% !important;
  position: absolute;
  border-radius: 14px;
  transform: translate(0%, 33%);
}
.imgCollabM {
  height: 220px;
  width: 60% !important;
  position: absolute;
  border-radius: 14px;
  transform: translate(0%, 33%);
}
.resImg {
  border-radius: 14px;
  max-height: 300px;
  max-width: 330px;
}
.catImg {
  border-radius: 14px !important;
  max-height: 130px;
  max-width: 200px;
}
.img-cover {
  object-fit: cover;
}
.img-contain {
  object-fit: contain;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.impact {
  font-weight: 700;
  font-size: 50px;
}

.myTable {
  border-spacing: 10px;
  background-color: #ffffff;
}
