{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-left m-3">

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/Burger.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/Lasagna.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lasagna</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/spaghetti-bolognese-36d090.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spaghetti Bolongnese</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/spaghetticarbonara-1200x675.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spaghetti Carbonara</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="col" style = "width: 15rem">
      <div class="card h-100">
       <img src="{% static 'images/SquidInkPasta.jpg' %}" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">Squid Ink pasta seafood</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
     </div>
    </div>
</div>



<div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-left m-3">

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/Burger.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Burger</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/Lasagna.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lasagna</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/spaghetti-bolognese-36d090.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spaghetti Bolongnese</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="col" style = "width: 15rem">
    <div class="card h-100">
      <img src="{% static 'images/spaghetticarbonara-1200x675.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Spaghetti Carbonara</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    <div class="col" style = "width: 15rem">
      <div class="card h-100">
       <img src="{% static 'images/SquidInkPasta.jpg' %}" class="card-img-top" alt="...">
       <div class="card-body">
        <h5 class="card-title">Squid Ink pasta seafood</h5>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Food Status
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Available</a></li>
            <li><a class="dropdown-item" href="#">Not Avalable</a></li>
            <li><a class="dropdown-item" href="#">Not Shown</a></li>
          </ul>
        </div>
      </div>
     </div>
    </div>
</div>

{% endblock content %}