 {% load static %}

 <div class="modal fade" id="foodListmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header border-0 align-self-start">
         <h5 class="modal-title" id="exampleModalLabel"></h5>
       </div>
       <div class="modal-body">
         <div class="card pe-3 ps-3 pb-3" style="">
           <table class="table table-md">
             <tr class="text-center">
               <th>Menu</th>
               <th>Edit</th>
               <th>Remove</th>
             </tr>
             {% for menu in menus %}
             <tr>
               <td class="text-start ">{{menu.menuNameEN}}</td>
               <td class="text-center ">
                 <a class="btn btn-sm btn-warning" data-bs-target="#DeletingfoodListmodal" data-bs-toggle="modal"
                   data-bs-dismiss="modal">
                   Edit
                 </a>
               </td>
               <td class="text-center ">
                 <a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal" data-bs-toggle="modal"
                   data-bs-dismiss="modal">
                   Delete
                 </a>
               </td>
             </tr>

             {% endfor %}

             {% comment %} <tr>
               <td class="text-start ">Lasagna</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Bolognese</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Carbonara</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Squid Ink pasta seafood</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Burger2</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Lasagna2</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Bolognese2</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Carbonara2</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr>
             <tr>
               <td class="text-start ">Spaghetti Squid Ink pasta seafood2</td>
               <td class="text-center "><a class="btn btn-sm btn-danger" data-bs-target="#DeletingfoodListmodal"
                   data-bs-toggle="modal" data-bs-dismiss="modal">Delete</a></td>
             </tr> {% endcomment %}

           </table>
           <button class="btn btn-primary" type="button" data-bs-target="#AddingfoodListmodal" data-bs-toggle="modal"
             data-bs-dismiss="modal">+</button>


         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
           Cancel
         </button>
         <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade " id="AddingfoodListmodal" tabindex="-1" aria-labelledby="exampleModalLabe2" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content ">
       <div class="modal-header border-0 align-self-start">
         <h5 class="modal-title" id="exampleModalLabe2"></h5>
       </div>
       <div class="modal-body">
         <div class="card p-3" style="">
           <table class="table table-md">
             <tr class="text-center">
               <th>Menu</th>
               <th>Image</th>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
             <tr id="container">
               <td class=" col-6"><input type="text" class="form-control" aria-label="Sizing example input"
                   aria-describedby="inputGroup-sizing-sm"></td>
               <td class="col-6"><input type="file" class="form-control" id="inputGroupFile02"></td>
             </tr>
           </table>


           <div class="modal-footer">
             <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
               Cancel
             </button>
             <button type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>




 <div class="modal fade " id="DeletingfoodListmodal" tabindex="-1" aria-labelledby="exampleModalLabe3"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content ">
       <div class="modal-header border-0 align-self-start">
         <h5 class="modal-title" id="exampleModalLabe3"></h5>
       </div>
       <div class="modal-body">
         <h5>Are you sure you wat to delete Menu:{{menu.menuNameEN}} ?</h5>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
           Cancel
         </button>
         <a href="{% url 'foodList' restaurant.resID %}">
           <button type="button" class="btn btn-danger">Confirm</button>
         </a>
       </div>
     </div>
   </div>
 </div>