{% extends 'app/base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="input-group rounded-lg mt-2">
    <input id="Search-main" type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
        aria-describedby="search-addon" />
    <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
    </span>
</div>

<div class="row row-cols-4 row-cols-md-6">
    {% for category in categorys %}
    {% include 'app/categoryCard.html'%}
    {% endfor %}
</div>
{% include 'components/breadcrumb.html' %}
<div class="row" id="Table-main">
    {% for restaurant in restaurants %}
    {% include 'app/card3Col.html' %}
    {% endfor %}
</div>
{% endblock content %}