{% extends 'app/base.html' %}
{% load static %}
{% block content %}
{% comment %} <script src="{% static 'js/main.js' %}"></script> {% endcomment %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>Customer Log</h2>
            <input class="form-control mt-4 mb-3" id="myInput" type="text" placeholder="Search..">
            <br>
            <div class="mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Access</th>
                            <th scope="col">Leaving</th>
                            <th scope="col">Queue</th>
                            <th scope="col">Point</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr>
                            <th scope="row">1</th>
                            <td scope="row">12 Febuary 2020 </td>
                            <td>
                                <a href="#">Pete Vongchanapibul</a>
                            </td>
                            <td>15:00:12</td>
                            <td>16:00:37</td>
                            <td>A3210</td>
                            <td>+3</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td scope="row">12 Febuary 2020 </td>
                            <td>
                                <a href="#">Ferb Fletcher</a>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-10</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <h2>Queue</h2>
            <input class="form-control mt-4" id="myInput2" type="text" placeholder="Search..">
            <br>
            <div class="mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
                <div class="row py-4">
                    <div class="col-md">
                        {% include 'app/queue.html'%}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-end">
        <a href="{%url 'staffList' restaurant.resID%}" class="btn btn-primary mt-4 me-2" style="width : 25%">Staff
            member</a>
        <!--รอใส่ navbar-->
        <a href="{%url 'foodList' restaurant.resID %}" class="btn btn-secondary mt-4" style="width : 25%">Menu
            edit</a>
        <!--รอใส่ navbar-->
    </div>
</div>
{% endblock content %}