{% load static %}
<div class="row justify-content-center mt-4">
    <div class="col-xl-8 ">
        <div class="card p-3" style="">
            <div class="row ">
                {% comment %} <div id="map"></div> {% endcomment %}
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-map-marker-alt text-secondary"></i>
                    <span>{{restaurant.fullAddress}}</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="www.instagram.com" class="text-decoration-none text-reset">
                        <i class="fab fa-instagram text-secondary"></i>
                        <span> {{restaurant.ig}}</span>
                    </a>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-phone-alt text-secondary"></i>
                    <span>{{restaurant.fullPhone}}</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="www.facebook.com" class="text-decoration-none text-reset">
                        <i class="fab fa-facebook-square text-secondary"></i>
                        <span> {{restaurant.fb}}</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/map.js' %}"></script>
<script>
    $(document).ready(() => {

        var map = new longdo.Map({
            placeholder: document.getElementById('map')
        });
        var marker = new longdo.Marker({
            lon: 100.56,
            lat: 13.74
        });
        map.Overlays.add(marker);
    })
</script>