{% load static %}
<div class="row justify-content-center">
    <div class="col-xl-8 ">
        <div class="card p-3" style="">
            <div class="row ">
                <img src="{% static 'images/foodEx.jpg' %}" class="imgBg" alt="Responsive image">
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-map-marker-alt text-secondary"></i>
                    <span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, necessitatibus?</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fab fa-instagram text-secondary"></i>
                    <span> Jay Och</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-phone-alt text-secondary"></i>
                    <span> 087-658-4475</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fab fa-facebook-square text-secondary"></i>
                    <span> Jay Och</span>
                </h4>
            </div>
        </div>
    </div>
</div>