{% load static %}
<div class="row justify-content-center mt-4">
    <div class="col-xl-8 ">
        <div class="card p-3" style="">
            <div class="row ">
                <img src="{% static 'images/foodEx.jpg' %}" class="imgBg" alt="Responsive image">
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-map-marker-alt text-secondary"></i>
                    <span>{{restaurant.fullAddress}}</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="www.instagram.com" class="text-decoration-none text-reset">
                        <i class="fab fa-instagram text-secondary"></i>
                        <span> Jay Och</span>
                    </a>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <i class="fas fa-phone-alt text-secondary"></i>
                    <span>{{restaurant.fullPhone}}</span>
                </h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="www.facebook.com" class="text-decoration-none text-reset">
                        <i class="fab fa-facebook-square text-secondary"></i>
                        <span> Jay Och</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>