 {% load static %}
 <!-- Modal -->
 <div class="modal fade" id="editRole" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header border-0 align-self-start">
                 <h5 class="modal-title" id="exampleModalLabel"></h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <h1>eiei</h1>
                 <div class="card p-3 " style="">
                     <select class="form-select" aria-label="Default select example" style="width:50%">
                         <option value="" disabled selected hidden>Choose role</option>
                         <option value="Staff">Staff</option>
                         <option value="Manager">Manager</option>
                         <option value="Executive">Executive</option>
                     </select>
                 </div>
             </div>
             <div class="modal-footer">
                 <input type="submit" value="Submit" class="btn btn-primary" data-bs-dismiss="modal">
             </div>
         </div>
     </div>
 </div>