{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/main.js' %}"></script>
<div class="container mt-5">

    <h2>Member List</h2>
    <div class="d-flex">
        <input class="form-control mt-3 mb-3 ms-3" id="myInput" type="text" placeholder="Search.." style="width : 50%">
        <a href="{%url 'managerControl' restaurant.resID%}" type="button" class="btn btn-secondary mt-3" style="height: 10%; margin-left : 1%">
            <i class="bi bi-house-door-fill fa-lg"></i>
        </a>
    </div>
    <br>
    <div class="mb-5" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr>
                    <th scope="row">1</th>
                    <td>
                        <a href="#">Phineas Flyn</a>
                    </td>
                    <td>Staff</td>
                    <td><a class="btn btn-sm btn-danger" href="#">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row border" style="margin-left : 1px; margin-right : 1px;">
        <h2 class="mt-3">Invite</h2>
        <div class="col-md-6">
            <input class="form-control m-3" id="myInput" type="text" placeholder="input email / username / name">
        </div>
        <div class="col-md-6">
            <input class="btn btn-primary mt-3 ms-2" type="submit" value="invite">
        </div>

    </div>

    {% comment %} <div class="row  justify-content-end">
        <a href="{%url 'usermanage'%}" class="btn btn-warning mt-4" style="width : 30%">Registration request</a>
    </div> {% endcomment %}
</div>

{% endblock content %}