{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<div class="row">
  <h3>Number of usage</h3>
  <table class="table">
    <thead>
      <tr class=text-center>
        <th scope="col">Date</th>
        <th scope="col">User number</th>
      </tr>
    </thead>
    <tbody class=text-center>
      <tr>
        <td>04/06/2021</td>
        <td>3</td>
      </tr>
      <tr>
        <td>05/06/2021</td>
        <td>4</>
      </tr>
      <tr>
        <td>06/06/2021</td>
        <td>3</>
      </tr>
    </tbody>
  </table>
</div>


<div class="row">
  <h3>Number of cancel</h3>
  <table class="table">
    <thead>
      <tr class=text-center>
        <th scope="col">Date</th>
        <th scope="col">Cancel number</th>
      </tr>
    </thead>
    <tbody class=text-center>
      <tr>
        <td>04/06/2021</td>
        <td>6</td>
      </tr>
      <tr>
        <td>05/06/2021</td>
        <td>3</>
      </tr>
      <tr>
        <td>06/06/2021</td>
        <td>2</>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Number of success</h3>
  <table class="table">
    <thead>
      <tr class=text-center>
        <th scope="col">Date</th>
        <th scope="col">Success number</th>
      </tr>
    </thead>
    <tbody class=text-center>
      <tr>
        <td>04/06/2021</td>
        <td>6</td>
      </tr>
      <tr>
        <td>05/06/2021</td>
        <td>4</>
      </tr>
      <tr>
        <td>06/06/2021</td>
        <td>3</>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
  <h3>Number of new account</h3>
  <table class="table">
    <thead>
      <tr class= text-center>
        <th scope="col">Date</th>
        <th scope="col">Account</th>
      </tr>
    </thead>
    <tbody class= text-center>
      <tr>
        <td>04/06/2021</td>
        <td>5</td>
      </tr>
      <tr>
        <td>05/06/2021</td>
        <td>10</>
      </tr>
      <tr>
        <td>06/06/2021</td>
        <td>15</>
      </tr>
    </tbody>
  </table>
</div>





{% endblock content %}