{% extends 'components/base.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/main.js' %}"></script>


<div class="container mt-5">
    <div class="row">
        <div class="col-10">
            <h2>Register request</h2>
        </div>
        <div class="col-2 text-end">
            <a href="{%url 'adminpage'%}" type="button" class="btn btn-secondary mt-1">
                <i class="bi bi-house-door-fill fa-lg"></i>
            </a>
        </div>
        <input class="form-control mt-3 mb-3 ms-3" id="myInput" type="text" placeholder="Search.." style="width : 95%">
        <br>
        <div class="mb-3" style="overflow-x: hidden; overflow-y : scroll; height : 600px">
            <table class="table border border-3">
                <thead>

                    <tr class="text-center align-middle">
                        <th scope="col">ID</th>
                        <th scope="col">Owner</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                        <th scope="col">Enable</th>
                        <th scope="col">Disable</th>
                        <th scope="col">Detail</th>
                    </tr>

                </thead>
                <tbody id="myTable">
                    {% for company in companies %}
                    <tr class="text-center align-middle">
                        <th scope="row">{{company.companyID}}</th>
                        <td>
                            <a
                                href="{% url 'profile' company.member_set.first.memberID %}">{{company.member_set.first.fullName}}</a>
                        </td>
                        <td>Company</td>

                        {% if company.success == 1 %}
                        <td class="text-success"><strong>Enable</strong> </td>
                        {% elif company.success == 0 %}
                        <td class="text-danger"><strong>Disable</strong> </td>
                        {% endif %}


                        <form action="{% url 'enableComAndRes' company.companyID %}" method="POST" class="d-flex ">
                            {% csrf_token %}
                            <td>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-success d-blcok" type="submit">Enable
                                    <input type="boolean" name="success" value="true" hidden></button>
                            </td>
                        </form>
                        <form action="{% url 'enableComAndRes' company.companyID %}" method="POST" class="d-flex ">
                            {% csrf_token %}
                            <td>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-danger d-blcok" type="submit">Disable
                                    <input type="boolean" name="success" value="false" hidden>
                            </td>
                        </form>
                        <td><a href="{% url 'profile' company.companyID %}" class="btn btn-sm btn-primary">Detail</a></td>
                    </tr>
                    {% endfor %}
                    {% for restaurant in restaurants %}
                    <tr class="text-center align-middle">
                        <th scope="row">{{restaurant.resID}}</th>
                        {% for manager in restaurant.member_set.all %}
                        {% if manager.role == "manager" %}
                        <td>
                            <a href="{% url 'profile' restaurant.member_set.first.memberID %}">{{manager.fullName}}</a>
                        </td>
                        {% endif %}
                        {% endfor %}
                        <td>Restaurant</td>

                        {% if restaurant.success == 1 %}
                        <td class="text-success"><strong>Enable</strong> </td>
                        {% elif restaurant.success == 0 %}
                        <td class="text-danger"><strong>Disable</strong> </td>
                        {% endif %}


                        <form action="{% url 'enableComAndRes' restaurant.resID %}" method="POST" class="d-flex ">
                            {% csrf_token %}
                            <td>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-success d-blcok" type="submit">Enable
                                    <input type="boolean" name="success" value="true" hidden></button>
                            </td>
                        </form>
                        <form action="{% url 'enableComAndRes' restaurant.resID %}" method="POST" class="d-flex ">
                            {% csrf_token %}
                            <td>
                                <input type="hidden" name="next" value="{{ request.path }}">
                                <button class="btn btn-danger d-blcok" type="submit">Disable
                                    <input type="boolean" name="success" value="false" hidden>
                            </td>
                        </form>
                        <td><a href="{% url 'profile' restaurant.resID %}" class="btn btn-sm btn-primary">Detail</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}