 {% load static %}
 <!-- Modal -->
 <div class="modal fade" id="editProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-lg">
         <div class="modal-content">
             <div class="modal-header border-0 align-self-start">
                 <h5 class="modal-title" id="exampleModalLabel"></h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <h1 class="text-center">Edit Profile</h1>
                 <div class="card p-3 rounded-3 border border-3 " style="">
                     <form class="mt-3 ms-2" method="POST" action="" enctype="multipart/form-data">
                         {% csrf_token %}
                         <div class="row  mb-2">
                             <img src="{{profile.getProfilePic}}"
                                 class="img-contain rounded mx-auto d-block img-contain" style="height: 100px;" alt="">
                         </div>
                         <div class="row  mb-2">
                             <label for="files"
                                 class="btn-sm btn-info rounded-lg rounded mx-auto d-block text-center form-label"
                                 style="width: 20%;">Change
                                 Photo</label>
                             <input name="memberID" hidden type="text" value="{{profile.memberID}}">
                             <input id="files" style="visibility:hidden; height:0;" type="file"
                                 value="{{profile.getProfilePic}}" name="profilePic">
                         </div>
                         <div class="row  mb-2">
                             <div class="col-md-6">
                                 <input type="text" class="form-control" placeholder="{{profile.fName}}"
                                     value="{{profile.fName}}" name="fName">
                                 <label class="form-label">Firstname</label>
                             </div>
                             <div class="col-md-6">
                                 <input type="text" class="form-control" id="inputPassword4"
                                     placeholder="{{profile.lName}}" value="{{profile.lName}}" name="lName">
                                 <label class="form-label">Lastname</label>
                             </div>
                         </div>
                         <div class="row mb-2">
                             <div class="col-md-12">
                                 <input type="email" class="form-control" placeholder="{{profile.email}}"
                                     value="{{profile.email}}" name="email">
                                 <label class="form-label">Email</label>
                             </div>
                         </div>

                         <div class="row mb-4">
                             <div class="col-md-6">
                                 <select class="form-select" aria-label="Default select example" name="gender">
                                     <option selected hidden value="{{profile.gender}}">{{profile.gender}}
                                     </option>
                                     <option value="male">male</option>
                                     <option value="female">female</option>
                                     <option value="other">other</option>
                                 </select>
                                 <label class="form-label">Gender</label>
                             </div>
                             <div class="col-md-6">
                                 <input type=" text" class="form-control" id="" name="tel" placeholder="{{profile.tel}}"
                                     value="{{profile.tel}}" pattern="^0[0-9]{9}">
                                 <label class="form-label">Tel</label>
                             </div>
                         </div>
                         <div class="form-row d-flex pb-2">
                             <div class="col-md-6">
                                 <label>Logo</label>
                                 <div class="mt-1">
                                     <label for="files" class="btn btn-primary btn-sm rounded-0">Choose
                                         file</label>
                                     <input id="files" style="visibility:hidden; height:0" type="file" name="profilePic"
                                         value="{{restaurant.profilePic}}">
                                 </div>
                             </div>
                         </div>
                         <div class="modal-footer">
                             <input type="submit" value="Submit" class="btn btn-primary">
                         </div>
                     </form>
                 </div>
             </div>
         </div>
     </div>
 </div>