{% extends 'components/base.html' %}
{% load static %}
{% block content %}
{% for message in messages  %}
{% endfor %}
<div class="card mt-4 rounded">
    <h5 class="card-header">Registeration</h5>
    <form id="userForm" class="mt-2 p-2" action="" method="post">
        {% csrf_token %}
        <div class="row mb-3">
            <label for="fName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-5">
                {{form.fName}}
                <div id="fName" class="form-text">firstname</div>
            </div>
            <div class="col-sm-5">
                {{form.lName}}
                <div id="lName" class="form-text">lastname</div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="password1" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-5">
                {{form.password1}}
                <div id="Password1" class="form-text">Password</div>
            </div>
            <div class="col-sm-5">
                {{form.password2}}
                <div id="password2" class="form-text">Confirm password</div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                {{form.email}}
            </div>
        </div>
        <div class="row mb-3">
            <label for="tel" class="col-sm-2 col-form-label">Telephone number</label>
            <div class="col-sm-10">
                {{form.tel}}
                <div id="tel" class="form-text">telephone number</div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="gender" class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-10">
                {{form.gender}}
            </div>
        </div>
        <div class="row mb-3">
            <label for="dob" class="col-sm-2 col-form-label">Date of birth</label>
            <div class="col-sm-10">
                {{form.dob}}
            </div>
        </div>

        <div class="row mb-3 justify-content-end">
            <button type="cancel" class="btn btn-danger col-2 align-self-end me-4">Cancel</button>
            <button type="submit" class="btn btn-primary col-2 align-self-end me-4 ">Register</button>
        </div>
    </form>
</div>
{% endblock content %}