 {% load static %}
 <!-- Modal -->
 <div class="modal fade" id="createNowQueue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header border-0 align-self-start">
         <h5 class="modal-title" id="exampleModalLabel"></h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div class="card p-3" style="">
           <img src="{{restaurant.getCoverPic}}" class="img imgBg" alt="Responsive image" />
           <img src="{{restaurant.getProfilePic}}" class="img imgCollabM" alt="Responsive image" />
           <div class="row" style="margin-top:50px ;">
             <h2 class="card-title">ร้านอาหาร : {{restaurant.resName}}</h2>
             <p class="card-text">ประเภท : {{restaurant.categoryID.categoryName}}</p>
           </div>
           <div class="card-body">
             <form method="POST" action="{% url 'createNowQueue' restaurant.resID %}">
               {% csrf_token %}
               <input type="text" id="resID" name="resID" value="{{restaurant.resID}}" hidden />
               <input type="text" id="memberID" name="memberID" value="{{request.user.memberID}}" hidden />

               <div class="row mb-3">
                 <div class="col-6 ">
                   <label for="date" class="card-text col-form-label-lg">คิวก่อนหน้า</label>
                 </div>
                 <div class="col-6 text-center">
                   <label for="date" class="card-text col-form-label-lg">6 คิว</label>
                 </div>
               </div>

               <div class="row mb-3 ">
                 <div class="col-6 ">
                   <label for="time" class="card-text col-form-label-lg">เวลาคาดการณ์</label>
                 </div>
                 <div class="col-6 text-center">
                   <label for="time" class="card-text col-form-label-lg">45 นาที</label>
                 </div>
               </div>
               <div class="row">
                 <div class="col-6">
                   <label for="peopleNum" class="card-text col-form-label-lg">จำนวนผู้เข้าใช้</label>
                 </div>
                 <div class="col-6 text-center">
                   <input type="number" class="form-control  d-inline me-2" style="width: 50px;" id="peopleNum"
                     name="peopleNum" min=1 max=50 value="">
                   <label for="peopleNum" class="card-text col-form-label-lg">คน</label>
                 </div>
               </div>

           </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createQueue"
           data-bs-dismiss="modal">
           จองคิวล่วงหน้า
         </button>
         <a href="{%url 'menu' restaurant.resID %}">
           <button type="button" class="btn btn-primary">
             รายการอาหาร
           </button>
         </a>
         <button type="submit" class="btn btn-secondary">ยืนยัน</button>
       </div>
       </form>
     </div>
   </div>
 </div>

 {% include 'queueSystem/createQueue.html' %}