 {% load static %}
 <div class="modal fade" id="createQueue" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header border-0 align-self-start">
                 <h5 class="modal-title" id="exampleModalLabel"></h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="card p-3" style="">
                     <img src="{{restaurant.coverPic.url}}" class="img imgBg" alt="Responsive image" />
                     <img src="{{restaurant.profilePic.url}}" class="img imgCollabM" alt="Responsive image" />
                     <div class="row" style="margin-top:50px ;">
                         <h2 class="card-title">ร้านอาหาร : {{restaurant.resName}}</h2>
                         <p class="card-text">ประเภท : {{restaurant.categoryID.categoryName}}</p>
                     </div>
                     <div class="card-body">
                         <form method="POST" action="{% url 'createQueue' restaurant.resID %}">
                             {% csrf_token %}
                             <input type="text" id="resID" name="resID" value="{{restaurant.resID}}" hidden />
                             <input type="text" id="memberID" name="memberID" value="{{request.user.id}}" hidden />
                             <div class="row mb-3">
                                 <div class="col-6 ">
                                     <label for="date" class="card-text col-form-label-lg">วัน</label>
                                 </div>
                                 <div class="col-6">
                                     {% comment %} <input type="date" class="form-control" id="date" name="reserveDate" value=""> {% endcomment %}
                                     <div id="dateHelp" class="form-text">ระบุวันที่ต้องการจอง</div>
                                 </div>
                             </div>

                             <div class="row mb-3">
                                 <div class="col-6 ">
                                     <label for="time" class="card-text col-form-label-lg">เวลา</label>
                                 </div>
                                 <div class="col-6">
                                     <input type="datetime-local" class="form-control" id="time" name="reserveDateTime" value="">
                                     <div id="dateHelp" class="form-text">ระบุเวลาที่ต้องการจอง</div>
                                 </div>
                             </div>

                             <div class="row">
                                 <div class="col-6">
                                     <label for="peopleNum" class="card-text col-form-label-lg">จำนวนผู้เข้าใช้</label>
                                 </div>
                                 <div class="col-6 text-center">
                                     <input type="number" class="form-control  d-inline me-2" style="width: 150px;"
                                         id="peopleNum" name="peopleNum" min=1 max=50 value="">
                                     <label for="peopleNum" class="card-text col-form-label-lg">คน</label>
                                 </div>
                             </div>

                     </div>
                 </div>
             </div>
             <div class="modal-footer">
                 <a href="{%url 'menu' restaurant.resID %}">
                     <button type="button" class="btn btn-primary">
                         รายการอาหาร
                     </button>
                 </a>
                 <button type="submit" class="btn btn-secondary">ยืนยัน</button>
             </div>
             </form>
         </div>
     </div>
 </div>